.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 5rem;
  justify-items: center;
  width: 95%;
  margin: 0 auto;
}

.summary-layout {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin: 5rem 0 5rem 0;
  padding: 5rem 2.5rem 5rem 2.5rem;
}

.team-layout {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marketplace-layout {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.adventure-layout {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 10rem 0 10rem 0;
}

.history-layout {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 10rem 0 10rem 0;
}